h1{
    color: blueviolet rgb(0,255,255);
    text-align: center;
    font-size: 50px;
}
body{
    background-color: blue;
}
p{
    color:blanchedalmond;
    font-size: 50px;
    text-align: center;
}
#imagem{
    width: 50px;
    margin: auto;
    display:block;
}